.container {
    color: grey;
    border: 1px solid rgba(198, 195, 195, 0.737);
    border-radius: 5px;
    width: 70%;
    margin: 0 22%;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .category {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .detailsGrid {
    /* display: grid; */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
  }
  
  .option {
    padding: 10px;
    border: 1px solid rgba(198, 195, 195, 0.737);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    display: flex;
    gap: 10px;
  }
  

  
  .selected {
    background-color: #040c4a;
    color: white;
  }
  
  .selectOpt {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.681);
    border-radius: 5px;
    padding: 10px;
  }
  
  .bottom {
    text-align: center;
    margin-top: 20px;
  }
  