.marketplace-container {
    padding: 16px;
  }
  
  .marketplace-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .marketplace-card {
    width: calc(23.33% - 10px);
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .marketplace-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .marketplace-details {
    padding: 12px;
  }
  
  .marketplace-price {
    font-weight: bold;
    font-size: 16px;
  }
  
  .marketplace-title {
    font-size: 16px;
    color: #333;
    text-decoration: none;
  }
  
  .marketplace-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #777;
    margin-top: 8px;
  }
  
  .marketplace-location-icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
  
  /* Media query for mobile */
  @media (max-width: 768px) {
    .marketplace-container {
      width: 183%;
      display: flex;
      margin-left: -93%;
      padding-bottom: 60%;
    }
  
    .marketplace-card {
      width: 50%;
      align-self: center;
      margin: 0;
    }
  
    .marketplace-image {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }
  