.ad_disp {
  display: flex;
}

.btn {
  margin-top: 1rem;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  color: #1a73e8;
  border: 2px solid #1a73e8;
  padding: 1rem 2rem;
  border-radius: 5px;
  white-space: nowrap;
}

.btn:hover {
  background-color: #1a73e8;
  color: #ffff;
}

.banner_heading {
  font-family: "Poppins", sans-serif;
  width: 700px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  display: flex;
  margin-top: '20px';
}
.content_a h3 {
  /* margin: auto; */
  margin-top: 30px;
  /* font-weight: bolder; */
  line-height: 0;
  font-size: 2.8rem;
}

.content_b h3 {
  font-size: 2.4rem;
}

.content_i h3 {
  font-size: 3rem;
}

.content_a h5 {
  margin: 2rem 0 0;
  font-weight: 600;
  font-size: 1.7rem;
  text-align: center;
}

.content_b h5 {
  margin: 3rem 0 0;
  font-weight: 600;
  font-size: 1.7rem;
  text-align: center;
}
.content_i h5{
  margin: 3rem 0 0;
  font-weight: 600;
  font-size: 1.7rem;
  text-align: center;
}
.content_i h4 {
  font-weight: 600;
  font-size: 1.7rem;
  text-align: center;
}

.content_a p {
  text-align: center;
  margin: 0.5rem 0;
  line-height: 3rem;
  font-size: 20px;
}

.content_b p {
  line-height: 3rem;
  font-size: 20px;
}

.content_i p {
  line-height: 2.5rem;
  font-size: 20px;
}

.ad_disp video {
  border-radius: 1rem;
  margin-top: 3rem;
  margin-left: 1rem;
  width: 65rem;
}

@media screen and (max-width:1600px) {
  .ad_disp video {
    width: 50rem;
  }

  .banner_heading {
    margin-top: 3rem;
  }

  .btn {
    margin-top: 1rem;
  }
}

@media screen and (max-width:1400px) {
  .ad_disp video {
    width: 50rem;
  }

  .banner_heading {
    margin-top: 3rem;
  }

  .btn {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 1280px) {
  .ad_disp video {
    margin-top: 3rem;
    margin-left: 1rem;
    width: 45rem;
  }

  .banner_heading {
    margin-top: 3rem;
  }

  .btn {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 768px) {

  .banner_heading {
    max-width: 400px;
    /* margin-left: 10rem; */
    margin-top: 2rem;
    text-align: center;
    line-height: 1;
    letter-spacing: -1px;
  }

  .banner_heading h1 {
    padding: 0 0.5rem 0 0.5rem;
    line-height: 1.5;
    letter-spacing: -1px;
  }

  .pt-6 {
    width: 10rem;
  }

  .banner_heading {
    width: 100%;
    /* Make heading full width */
    text-align: left;
    /* Align left on small screens */
  }

  .content_a h3 {
    font-size: 2rem;
    /* Adjust heading size */
  }

  .content_a h5 {
    font-size: 1.5rem;
    /* Adjust subheading size */
  }

  .content_a p {
    font-size: 1rem;
    /* Adjust paragraph size */
  }

  .ad_disp video {
    width: 100%;
    /* Make video full width */
    margin: 1rem 0;
    /* Adjust video margins */
  }

}

@media only screen and (min-width: 769px) and (max-width: 1120px) {

  /* Add your styles here for medium screens */
  .banner_heading {
    margin-top: 2rem;
    width: 80%;
    /* Adjust width as needed */
  }

  .content_a h3 {
    font-size: 2.2rem;
    /* Adjust heading size as needed */
  }

  .ad_disp video {
    width: 90%;
    /* Make video full width */
    margin: 10rem 0;
    /* Adjust video margins */
  }

  .banner_heading {
    width: 100%;
    margin: auto 1rem;
  }

  /* Add styles for other elements as necessary */
}

@media screen and (max-width: 768px) {
  .ad_disp {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content_a: center; */
  }
}


@media (max-width: 425px) {
  .banner_heading {
    max-width: 300px;
    /* margin-left: 10rem; */
    margin-top: 2rem;
    text-align: center;
    line-height: 1;
    letter-spacing: -1px;
  }

  .heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
  }

  .main-slider {
    height: 310px;
    width: 190px;
  }

  .main-slider img {
    height: 175px;
    width: auto;
  }

  .company-member {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }

  .team-detail {
    gap: 10px;
  }

  .about-heading {
    font-size: 28px;
    text-align: start;
    margin: 0;
  }

  .about-team {
    font-size: 14px;
  }

  .heading-join-team {
    font-size: 12px;
  }


  .handicraft-img img {
    width: 60%;
    height: 100%;
    border-radius: 8px;
    margin: auto;
  }

  .img-section-about {
    /* padding-top: 2px; */
    width: 332px;
    height: 600px;
  }
}