* {
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width:768) {
  body {
    overflow-x: hidden;
  }
}

.banner-section {
  position: relative;
  height: 700px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  text-align: center;
}


.banner-img img {
  width: 100%;
  height: auto;
}

.banner-heading {
  text-align: center;
  align-items: center;
  width: 590px;
  margin-left: 5rem;
  margin-top: 5rem;
  flex-direction: column;
  text-align: center;
  align-items: center;
  display: flex;
}


.banner_content span {
  /* color: #0f4387; */
  font-weight: bold;
  line-height: 4rem;
}

.banner_content h3 {
  margin: auto;
  font-weight: bolder;
  font-size: 2.5rem;
  display: flex;
}

.banner_content h5 {
  margin: 2rem 0 0;
  font-weight: bolder;
  font-size: 1.7rem;
}

.banner_content p {
  margin: 0.5rem 0;
  line-height: 2rem;
  font-size: 15px;
  padding-right: 1rem;
  font-size: 17px;
}

@media screen and (max-width: 1680px) and (min-width: 846px) {
  .banner-section {
    text-align: center;
    justify-content: center;
    overflow: hidden;
  }

  .banner-img {
    width: 50%;
  }

}

@media screen and (max-width: 1280px) {
  .banner-section {

    text-align: center;

    justify-content: center;
    height: 600px;
    margin-bottom: 8rem;

  }

}


@media only screen and (max-width: 768px) {
  .banner-section {
    flex-direction: column;
    align-items: center;
  }

  .about-img img {
    width: 5%;
  }

  .banner-heading {
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
    text-align: center;
    line-height: 1;
    letter-spacing: -1px;
  }

  .banner-heading h1 {
    padding: 0 0.5rem 0 0.5rem;
    line-height: 1.5;
    letter-spacing: -1px;
  }
}

.about-section {
  position: relative;
  height: 500px;
  width: 100%;
  display: flex;

  margin-top: -6rem;
  background-color: #BBE2FF24;
  ;
}

.about-section .about-content {

  display: flex;
  justify-content: center;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 7rem;
}

.about-section .about-content>* {
  align-self: center;
}

.about-img {
  background-image: url(/assets/about/COMPANY.jpg);
  background-size: cover;
  background-position: center;

  width: 330px;
  height: 300px;
  margin-left: 14rem;
  margin-top: 6rem;
  border: 3px solid #FFFFFF;
  box-shadow: 0px 15.1587px 30.3173px rgba(0, 100, 224, 0.06);
  border-radius: 8.33499px;


}

.about-heading {
  width: 454px;
  margin-left: 5rem;
  margin-top: 8rem;


}

.about-heading h1 {
  font-weight: 500;
  font-size: 47px;
  justify-content: flex-start;

}

.about-heading p {
  font-weight: 400;
  font-size: 18px;
  margin-top: 1rem;
}

.about-heading .banner-btn {
  width: 129px;
  height: 44px;
  margin-top: 1rem;
  background: #0064E0;
  border-radius: 100px;
  border: none;
  font-weight: 700;
  font-size: 15.875px;
  line-height: 22px;
  align-items: center;
  letter-spacing: 0.08px;

  color: #FFFFFF;

}

@media screen and (max-width: 1680px) and (min-width: 846px) {
  .about-content {
    align-items: center;
    justify-content: center;
  }

  .about-img {
    background-color: #C4C1C1;

    width: 330px;
    height: 300px;
    margin-left: 10rem;
    margin-top: 6rem;
  }


}

@media screen and (max-width: 1200px) {


  .about-img {
    width: 330px;
    height: 300px;

    margin-top: 2rem;
  }

  .about-heading {
    width: 50%;
    margin-left: 0;
    margin-top: 2rem;
    text-align: center;
  }

}

@media screen and (max-width: 768px) {
  .about-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    text-align: center;
  }

  .about-img {
    width: 330px;

    height: 330px;

    margin: 0 auto;
    text-align: center;
  }

  .banner-btn {
    margin-bottom: 2rem;
  }

  .about-heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-top: 2rem;
    justify-self: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  .about-heading p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    text-align: justify;
    padding: 0 2rem 0 2rem;
    letter-spacing: 0;
  }

}

@media screen and (max-width: 320px) {
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    /* background: red; */
  }

}

video {
  width: 100%;
  margin-top: 3rem;
}

.divider {
  margin-top: 3rem;
  text-align: center;
}

.divider-content h1 {
  font-weight: 500;
  font-size: 47px;
}

.divider-content-img {

  margin-top: 6rem;
  background: linear-gradient(0deg, rgba(131, 164, 212, 0.52) 0%, rgba(182, 251, 255, 0.28) 45%, white 100%);
  width: 100%;
  height: 150vh;
}

.divider-content-img h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  font-size: 45px;
  margin-top: 3rem;
}

.divider-images {

  display: flex;
  align-items: center;
  justify-content: center;

}

.divider-images .img1 {
  width: 400px;
  height: 390px;
  border-radius: 20px;
  background-image: url(../../../assets/images/about-us.jpg);
  margin-top: 2rem;
  margin-left: 5rem;
  border: 3px solid #83a4d4;
}

.divider-images h4 {

  flex: 0 0 36%;
  font-size: 30px;
  margin-top: 13rem;
  font-weight: 400;
  justify-content: center;



}

.divider-images .img2 {
  width: 400px;
  height: 390px;
  border-radius: 32px;
  background-image: url(../../../assets/images/about-us-2.jpg);
  margin-top: 5rem;
  margin-right: 3rem;
  border: 3px solid #83a4d4;

}

.divider-images-2 {

  display: flex;
  align-items: center;
  justify-content: center;

}

.divider-images-2 .img1 {
  width: 390px;
  height: 200px;
  border-radius: 20px;
  background-image: url(../../../assets/images/banner1.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
  margin-left: 10rem;
  border: 3px solid #83a4d4;

}

.divider-images-2 h4 {

  flex: 0 0 25%;
  font-size: 30px;
  margin-top: 13rem;
  font-weight: 400;
  justify-content: center;



}

.divider-images-2 .img2 {
  width: 300px;
  height: 300px;
  border-radius: 32px;
  background-image: url(../../../assets/images/ceo.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 3rem;
  margin-right: 5rem;
  border: 3px solid #83a4d4;

}

@media screen and (max-width : 1680px) {


  .divider-images {

    display: flex;
    align-items: center;
    justify-content: center;

  }

  .divider-content-img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width : 768px) {
  .divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .divider h1 {
    line-height: 1.5;

  }

  .divider-content-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .divider-images h4 {
    margin-top: 3rem;
  }

  .divider-images {
    display: flex;
    flex-direction: column;
  }

  .divider-images .img1 {
    width: 300px;
    height: 250px;
    margin-right: 25px;

  }

  .divider-images .img2 {
    width: 300px;
    height: 250px;

  }

  .divider-images-2 {
    display: flex;
    flex-direction: column;
  }

  .divider-images-2 .img1 {
    width: 200px;
  }

  .divider-images-2 .img2 {
    margin-left: 25px;
  }


}

.plant-section img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

/* .vedio-play{
  width: 100%;
  height: 100%;
  } */

.slide-fade-enter-active {
  transition: all 0.9s ease-out;
}

/* .slide-fade-leave-active {
    transition: all 0.8s  ease-in;
  } */

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.img-banner {
  position: relative;
  display: flex;
  justify-content: end;
}

.box {
  float: right;
  height: 40px;
  max-width: 20%;
  position: absolute;
  left: 0%;
  right: 50%;
  background-color: #f7f0f0;
  box-shadow: #1c2b33;
  border-radius: 3px;
}




@media screen and (max-width: 320px) {
  .heading {
    font-size: 26px;
    font-weight: 700;
    /* margin: 0; */
    line-height: 31px;
  }

  .heading-about {
    font-size: 16px;
    line-height: 25px;
  }

  .about-team {
    line-height: 23px;
    margin-left: 4%;
    margin-right: 4%;
  }

  .show-more {
    color: #0064e0;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    cursor: pointer;
  }



  .button-section {
    display: flex;
    justify-content: center;
  }

  .team-container {
    padding-left: 0%;
    padding-right: 0%;
  }

  .customer-heading {
    font-size: 23px;
  }
}

@media(max-width: 425px) {
  .heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
  }

  .main-slider {
    height: 310px;
    width: 190px;
  }

  .main-slider img {
    height: 175px;
    width: auto;
  }

  .company-member {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }

  .team-detail {
    gap: 10px;
  }

  .about-heading {
    font-size: 28px;
    text-align: start;
    margin: 0;
  }

  .about-team {
    font-size: 14px;
  }

  .heading-join-team {
    font-size: 12px;
  }

  .handicraft-img {
    width: 100%;
    height: 240px;
    margin: auto;
    object-fit: cover;

  }

  .handicraft-img img {
    width: 60%;
    height: 100%;
    border-radius: 8px;
    margin: auto;

  }

  .img-section-about {
    /* padding-top: 2px; */
    width: 332px;
    height: 600px;

  }
}

/* @media (min-width: 320px) and (max-width: 767px) {
    .img-section {
      height: 380px ;
      width: 310px ;
      padding: 0px 40px ;
      margin: auto ;
    }
  
    .image {
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      border-radius: 10px;
  
    }
  } */

@media(max-width: 768px) {
  .img-section {
    height: 380px;
    width: 390px;
    padding: 0px 40px;
  }

  .heading {
    font-size: 26px;
    font-weight: 700;
    /* margin: 0; */
    line-height: 31px;
  }

  .heading-about {
    font-size: 14px;
    line-height: 25px;
  }

  .about-team {
    line-height: 23px;
    margin-left: 4%;
    margin-right: 4%;
  }

  .show-more {
    color: #0064e0;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    cursor: pointer;
  }

  .image-first {
    max-width: 100%;
    height: 90%;
  }

  .button-section {
    display: flex;
    justify-content: center;
  }

  .team-container {
    padding-left: 0%;
    padding-right: 0%;
  }

  .customer-heading {
    font-size: 23px;
  }

  .text-about {
    margin-left: 4%;
    margin-right: 4%;
    text-align: start;
  }

  .img-section-about {
    padding-top: 0;
    width: 350px;
    height: 600px;

  }

  .about-heading-section {
    font-size: 28px;
    text-align: start;
    margin: 0;
  }

  .ad-section {
    margin: 20% 0%;
  }
}

.image-first {
  max-width: 100%;
  height: 100%;
  border-radius: 10px;
}

.image {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 10px;

}

.team-container {
  padding-left: 10%;
  padding-right: 10%;
}

/* .image {
    border-radius: 10px;
    max-width: 100%;
    height: 100%;
  } */

.heading {
  /* transition: opacity 1s; */
  color: #1c2b33;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 52.8px;
  letter-spacing: -0.48px;
}

.about-heading {
  color: #67757c;
  font-family: Inter;
  font-size: 47.438px;
  font-style: normal;
  font-weight: 700;
  /* 111.304% */
  letter-spacing: -0.48px;
}

.heading-about {
  color: #1b2a33c2;
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 34.5px;
  letter-spacing: -0.48px;
  opacity: 1;
}

.heading-join-team {
  color: #1c2b33;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  /* line-height: 27px; */
  /* 150% */
}

.button {
  display: flex;
  width: 200px;
  height: 45px;
  padding: 10px 36px 11.4px 37px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  background: #0064e0;
  color: #fff;
  font-family: Inter;
  font-size: 15.875px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.4px;
  letter-spacing: 0.08px;
}

.button :hover {
  background-color: #9da5af;
}

.team-heading {
  color: #2a89ff;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 52.8px;
  letter-spacing: -0.48px;
}

.about-team {
  color: rgb(18 26 30 / 0.59);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  margin-left: 20%;
  margin-right: 20%;
}

.show-more {
  color: #0064e0;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  cursor: pointer;
}

.main-slider {
  height: 325px;
  width: 280px;
  border-radius: 10px;
}

.card {
  border: none;
  padding: 0;
}

.team-slider-section {
  border-radius: 20px;
}

.team-detail {
  gap: 30px;
}

.customer-heading {
  color: #292929;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 52.8px;
  letter-spacing: -0.48px;
}

.customer-name {
  color: #191d23;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.feedback {
  margin-left: 10%;
  margin-right: 10%;
  overflow: hidden;
  color: #505b6c;
  text-align: center;
  text-overflow: ellipsis;
  font-family: inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about-main {
  width: 400px;
  height: 300px;
}

.about-img-show img {
  width: -webkit-fill-available;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  height: 250px;

}

.img-section-about {
  /* padding-top: 0; */
  width: auto;
  height: 600px;
  padding: 10px;
  margin: auto;
  object-fit: fill;
}

.img-section-about img {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  margin: 0;
}

.text-about {
  margin-left: 20%;
  margin-right: 20%;
}

.handicraft-img {
  width: 100%;
  height: 600px;
  margin: auto;
}

.handicraft-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  margin: auto;
  object-fit: fill;

}

.about-heading-section {
  color: #67757c;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.48px;
}

.btn {
  margin-top: 2rem;
  background-color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  color: #1a73e8;
  border: 2px solid #1a73e8;
  padding: 1rem 2rem;
  border-radius: 5px;
  white-space: nowrap;
}

.btn:hover {
  background-color: #1a73e8;
  color: #fff;
}