.container {
    height: 88vh;
    background-color: #f0f2f5;
    display: flex;
    padding: 20px;
}

.app {
    height: 100%;
    /* width: 100%; */
    /* gap: 30px; */
}

.footer {
    background-color: white;
    color: rgba(130, 125, 125, 0.827);
    font-size: 1.1rem;
}

.left {
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 0,10,10,10;
}

.right {
    margin-top: 7rem;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.left_search {
    display: flex;
    color: rgba(128, 128, 128, 0.771);
    margin-bottom: 1.5rem;
}

.left_search input {
    padding: 1rem 3rem;
    color: black;
    border-radius: 5rem;
    width: 100%;
    font-size: 1rem;
    background-color: white;
    border: 1px solid #ddd;
    outline: none;
    transition: box-shadow 0.3s;
}

.search_icon {
    margin: auto;
    position: relative;
    left: 2.6rem;
}

.mic_icon {
    margin: auto;
    position: relative;
    right: 2.6rem;
}

.banner_img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.login_form {
    border-radius: 10px;
    width: 30rem;
    background-color: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.237);
    overflow-y: auto; /* Enable vertical scrollbar */
    max-height: 17rem; /* Set maximum height for scrollbar */
  }
  
  /* Custom scrollbar style */
  .login_form::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
  }
  
  .login_form::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color (behind the thumb) */
  }
  
  .login_form::-webkit-scrollbar-thumb {
    background-color: #888; /* Thumb color */
    border-radius: 4px; /* Rounded corners for the thumb */
  }
  
  .login_form::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Hover color for the thumb */
  }
  

.login_form form {
    display: flex;
    flex-direction: column;
}

.login_form input {
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    background-color: inherit;
    color: black;
    border-radius: 5px;
    outline: none;
    transition: box-shadow 0.3s;
}

.login_form input:focus,
.left_search input:focus {
    box-shadow: 0 0 5px 0 #1876f2dd;
    border-color: #1877f2;
}

.login_form input:focus::placeholder,
.left_search input:focus::placeholder {
    color: rgba(128, 128, 128, 0.405);
}

.login_form input::placeholder,
.left_search input::placeholder {
    font-size: 1.1rem;
    color: rgba(128, 128, 128, 0.771);
}

.forget_p {
    margin: auto;
    cursor: pointer;
    color: #1877f2;
    font-size: 1rem;
}

.forget_p:hover {
    text-decoration: underline;
    color: #1364ce;
}

.login_form hr {
    margin: 1.5rem 0;
    border: none;
    border-top: 1px solid #5f5d5d;
}

.login_form button {
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* padding: 1rem; */
    font-size: 1rem;
    font-weight: 500;
}

.login_btn {
    background-color: #040c4a;
    /* margin: 0.4rem 0rem 1rem; */
    /* padding: 0.6rem 12rem; */
    align-self: center;
}

.login_btn:hover {
    background-color: #1c70de;
}

.create_account_btn {
    padding: 1rem;
    margin: 0.5rem auto;
    background-color: #42b72a;
}

.create_account_btn:hover {
    background-color: #36a420;
}


.ftop {
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #ddd;
    margin: auto;
    color: rgba(66, 61, 61, 0.755);
}

.fdown {
    padding: 0.1rem 2rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.fleft,
.fright {
    display: flex;
}

.fleft>*,
.fright>* {
    text-decoration: none;
}

.fdown Link {
    text-decoration: none;
}

.fleft p {
    color: black;
    /* font-weight: 700; */
    margin: 10px 30px 0px 0px;
    height: fit-content;
}

.fright p {
    color: black;
    /* font-weight: 700; */
    margin: 10px 0px 0px 30px;
    height: fit-content;
}

.fdown p:hover {
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
}


@media (max-width:1800px) {
    .left {
        width: 65%;
    }

    .right {
        width: 50%;
    }

    .left_search input {
        width: 30rem;
    }

    .login_form {
        width: 25rem;
    }

    .login_btn {
        padding: 0.6rem 10rem;
    }
}

@media (max-width:1400px) {
    .left {
        width: 65%;
    }

    .right {
        width: 70%;
    }

    .left_search input {
        width: 30rem;
    }

    .login_form {
        /* width: 50rem; */
    }

    .login_btn {
        padding: 0.6rem 10rem;
    }
}

@media (max-width:1200px) {
    .left {
        width: 65%;
    }

    .right {
        width: 50%;
    }

    .left_search input {
        width: 30rem;
    }

    .login_form {
        width: 25rem;
    }

    .login_btn {
        padding: 0.6rem 10rem;
    }
}

@media (max-width:1010px) {
    .left {
        width: 65%;
    }

    .right {
        width: 50%;
    }

    .left_search input {
        width: 25rem;
    }

    .login_form {
        /* font-size: 4rem; */
        width: 20rem;
    }

    .login_form button {
        font-size: 0.8rem;
    }

    .login_form input::placeholder {
        font-size: 0.8rem;
        padding: 0.1rem;
    }

    .login_btn {
        padding: 0.6rem 7rem;
    }


}







/* NEW MEDIA QUERY FOR MOBILE DEVICES */
@media (max-width: 768px) {
 .container {
    flex-direction: column;
    margin: 0;
    padding: 0,0,0,0;
    align-items: center;
    gap: 10px;
    /* justify-content: center; */
    overflow: hidden;
  }
 .left {
    width: 100%; 
    margin-left: 0; 
  }
 .right {
    width: 100%; /* take full width on mobile */
    margin-top: 5px; /* remove margin on mobile */
  }
 .left_search {
    flex-direction: row;
    width: 100%;
    align-content: safe;
  }
 .left_search input {
    /* width: 100%;  */
  }
 .search_icon,.mic_icon {
    position: static; 
  }
 .banner_img {
    height: auto; 
    width: 20rem;
  }
  .login_btn {
    background-color: #040c4a;
    padding: 20px;
    padding: 1rem;
    width: 12rem;
}
 .login_form {
    width: 90%; 
    padding: 1rem; 
    height: auto;
    z-index: 1000;
  }
 .login_form input {
    font-size: 0.8rem; 
  }
 .login_form button {
    font-size: 0.8rem; 
  }
 .footer {
    font-size: 0.8rem; 
  }
  .login_form {
    width: 25rem;
}


.ftop {
    padding: 0.5rem 1rem; 
    border-bottom: 1px solid #ddd;
    color: rgba(66, 61, 61, 0.755);
  }
  
  .fdown {
    /* padding: 0,0,1px,1px;  */
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between; 
  }
  
  .fleft,
  .fright {
    margin-top: 0; 
    display: flex;
  }
  
  .fright {
    /* margin-top: 1rem; */

  }
  
  .fleft p,
  .fright p {
    margin: 5px 0; 
    text-align: center; 
    font-size: 10px;
  }
  .fleft p {
    margin: 5px 0; 
    text-align: center; 
    font-size: 10px;
  }
  
  
  .fdown p:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
}