.side-outer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 0rem;
  width: max-content;
}

.side-outer div {
  width: 13rem;
  border-radius: 5px;
  padding: 0.2rem 1rem;
  /* box-shadow: 1px 2px 6px 0 rgba(25, 25, 25, 0.2) */
}
.inner:hover {
  background-color: rgb(225, 224, 222);/* Gray background color */
}

.nav-item::-webkit-scrollbar {
  width: 6px;
  /* width of the vertical scrollbar */
}

#nav-item::-webkit-scrollbar {
  width: 4px;
  /* width of the vertical scrollbar */
}

#nav-item::-webkit-scrollbar-thumb {
  background-color: #120748;
  /* color of the thumb */
  border-radius: 6px;
  /* roundness of the thumb */
}

#nav-item::-webkit-scrollbar-track {
  background-color: #ffffff;
  /* color of the track */
}

.side-outer a {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: #000;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.side-outer div:hover {
  /* background-color: white; */
}

@media (max-width: 768px) {
  .side-outer span {
    display: none;
  }

  .side-outer div{
    width: max-content;
  }
}


@media (max-width: 768px) {
  
}