.inner {
    color: grey;
    border: 1px solid rgba(198, 195, 195, 0.737);
    border-radius: 5px;
    display: inline-block;
    width: 60%;
    height: 60%;
    margin: 0 19%;

}

.head1 {
    margin: 20px 42%;
    font-size: 30px;
}

.top {
    padding: 20px 30px;
    color: black;
    /* border-bottom: 1px solid rgba(198, 195, 195, 0.737); */
}

.bottom {
    display: flex;
    flex-direction: row;
}

.left {
    border-top: 1px solid rgba(198, 195, 195, 0.737);
    border-right: 1px solid rgba(198, 195, 195, 0.737);
    width: 50%;
}

.right {
    width: 50%;
    position: relative;
}

.right_inner div {
    padding: 21px;
    border-bottom: 1px solid rgba(198, 195, 195, 0.737);
}

.right_inner div:first-child {
    border-top: 1px solid rgba(198, 195, 195, 0.737);
}

.right_inner div:hover {
    color: black;
    background-color: rgba(163, 161, 161, 0.563);
    cursor: pointer;
}

.navbar {
    background-color: rgba(216, 218, 220, 0.179);
    border-bottom: 1px solid rgba(167, 164, 164, 0.168);
    height: 60px;
}

.left div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-bottom: 1px solid rgba(198, 195, 195, 0.737);
}

.left p {
    width: 83%;
}


.left div:hover {
    color: black;
    background-color: rgba(163, 161, 161, 0.563);
    cursor: pointer;
}

.clicked {
    color: black;
    background-color: rgba(163, 161, 161, 0.563);
}