nav {
    font-family: Arial, sans-serif;
    width: max-content;
}

ul {
    list-style-type: none;
    margin: 1rem 0;
    width: 15rem;
}

li {
    margin-bottom: 10px;
    /* width: 2rem; */
}

nav img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

nav span {
    vertical-align: middle;
}

nav a {
    background-color: rgba(193, 187, 187, 0.716);
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    box-shadow: 2  2 2 2;
}

nav a:hover {
    background-color: #8c8888d1;
}