
.container {
  width: 100%;
  padding: 0;
}

.row {
  display: flex;
  justify-content: space-between; 
}

.col {
  flex: 1; 
  margin: 0;  
  padding: 0; 
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;  
  height: 0;
}

 .video-size {
  width: 90%;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column; 
  }

  .col {
    flex: none; 
    max-width: 100%; 
  }
}


/* VideoComponent.css */

.video-component-container {
  width: 100%;
  padding: 1rem;
}

.video-wrapper {
  margin-bottom: 1rem;
  border-radius: 15px;
  overflow: hidden;
}

.video-size {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.image-sliders {
  margin-top: 1rem;
}

.slider {
  margin-bottom: 1rem;
}

.responsive-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .video-size {
    height: 200px;
  }
}

@media (max-width: 600px) {
  .video-wrapper {
    width: 100%;
  }
}



