/* signup.module.css */

.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  /* height: 100%; */
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
  /* height: 60%; */
}

.modal_content {
  background-color: #fefefe;
  margin: 6% auto;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 9px;
  max-width: 38%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}

.close {
  color: #aaa;
  font-size: 33px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  background-color: inherit;
  color: black;
  padding: 1rem;
  margin-bottom: 0.8rem;
  border-radius: 10px;
  width: 90%;
  font-size: 1rem;
  border: 1px solid #ddd;
  outline: none;
  transition: box-shadow 0.3s;
}

.form input:focus {
  box-shadow: 0 0 5px 0 #1876f2dd;
  border-color: #1877f2;
}

.form input::placeholder {
  font-size: 18px;
  color: rgba(128, 128, 128, 0.771);
}

.form_name {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  width: 90%;
}

.form_name input {
  flex: 1;
}

.dob{
width: 90%;
}
.gender_p{
  width: 90%;
}
.location {
  margin-bottom: 1rem;
width: 90%;
/* height: 40px; */

}

.dob_select {
  display: flex;
  gap: 1rem;
  height: 40px;
}

.dob_select select {
  flex: 1;
  background-color: inherit;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 1rem;
  color: rgb(69, 67, 67);
  padding: 10px 5px;
}

.gender {
  display: flex;
  gap: 1rem;
}

.gender label {
  color: rgb(69, 67, 67);
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 9rem;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.location div {
  display: flex;
  gap: 1rem;
}

.country div {
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.state select,
.city input {
  flex: 1;
  background-color: inherit;
  color: rgb(69, 67, 67);
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
}


.bottom {
  font-size: 15px;
  margin-top: 1rem;
  color: #888;
  text-align: center;
}

.bottom button {
  margin: auto;
  border-radius: 10px;
  color: white;
  background-color: rgb(18, 173, 18);
  border: none;
  padding: 0.3rem 2rem;
  font-size: 18px;
}

.bottom button:hover {
  background-color: rgb(4, 144, 4);
  cursor: pointer;
}

.bottom span {
  color: rgba(0, 0, 255, 0.69);
}

.bottom span:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* .modal_content {
    margin: 10% auto;
  } */

  .modal_content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 20px;
    max-width: 90%;
  }

  .form_name {
    flex-direction: column;
  }

  .dob_select select,
  .state select,
  .city input {
    width: 100%;
  }

  .gender label {
    width: 100%;
  }
}
